#pragma once

// Firebase Realtime Database
#define FIREBASE_HOST  "your-project-default-rtdb.firebaseio.com"
#define FIREBASE_AUTH  "your-database-secret"

// Firestore
#define FIRESTORE_PROJECT_ID "your-project-id"
#define FIRESTORE_API_KEY    "your-firestore-api-key"
#define FS_USER_ID           "your-user-id"
